.aboutUs-header {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.aboutUs-title {
    text-align: center;
}
.aboutUs-text {
    text-align: center;
}
.aboutUs-creators-title {
    text-align: center;
    margin-top: 2rem;
}
.aboutUs-creators-photos {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.aboutUs-creator-one-img {
    height: 300px;
    width: auto;
}
.aboutUs-creator-two-img {
    height: 300px;
    width: auto;
}
.aboutUs-creator-three-img {
    height: 300px;
    width: auto;
}