// Navbar
.navbar {
    max-height: 75px;
    padding-top: 25px;
}
.company-logo {
    max-height: 100px;
    padding-left: 2rem;
}
.nav-link {
    font-size: 20px;
    padding-right: 2rem !important;
}
.navbar-nav {
    margin-left: auto;
}