// Banner
.home-banner {
    height: 250px;
    width: 100%;
    background-color: #F5F6F7;
}

h1 {
    margin-top: 25px;
    font-size: 20pt;
}

// Icons in Banner
.ico{
    margin-left: 6rem;
    // margin-right: 6rem;
    margin-top: 20px;
    font-size: 30pt;
    color: #38B553;
    padding-bottom: 5px;
}
.ico:before{
    margin-left: 20%;
}
.icons-text {
    font-size: 12pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-top: 10%;
    text-align: center;
}
.banner-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    max-width: 60%;
    color: black;
    margin-left: 6rem;
    // margin-right: 6rem;
    margin-top: 0px;
}

// Card
.card-container {
    margin-top: 10px;
}
.card{
  min-width: 100%;
  border: none!important;
}
.card-body {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    border: none!important;
}
.home-card-button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #38B553;
    border-color: #38B553;;
}