.jobFeed-container {
    margin-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #38B553;
    border-color: #38B553;
}

.btn:hover {
    background-color: #237034;
    border-color: #237034;
}
.dropdown {
    margin-left: 1rem;
}

.jobFeed-zipcode-search {
    width: 15%!important;
}

.jobFeed-zipcode-search-button {
    margin-left: 1rem;
}

.jobFeed-zipcode-search-button:hover {
    background-color: #237034;
    border-color: #237034;
}


