.userProfile-img {
    max-width: 200px;
    border: 1px solid grey;
    padding: 1rem 2.5rem;
    border-radius: 50%;
}

.userProfile-intro {
    margin-left: 25px;
}

.userProfile-container {
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px #888888;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}